# OS/editor
.DS_Store
.vscode/

# Quarto build + caches
_site/
public/
.quarto/
.quarto-cache/
_freeze/
*_cache/
*_files/

# Sync conflict copies (iCloud / merges)
**/* [0-9]/
**/*\ [0-9]


# R junk (if you use R)
.Rproj.user/
.Rhistory
.RData
renv/
renv/library/
.Renv

# Python junk (if you use Python)
.venv/
__pycache__/

# Node (if used)
node_modules/
dist/

# Accidental git backups
.git.bak_*/
/.quarto/

**/*.quarto_ipynb
