/*-- scss:defaults --*/

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

/*
body {
  background-image: url("logo/vertical_opaq.png");
  background-size: cover;
  background-repeat: no-repeat;
  /*background-position: center center;
  background-attachment: fixed;
}

*/